node_modules
public
config.json
build
lib
dist 
*/**/.DS_Store
.nyc_output 
.env
.env-prod
.env-staging
sTest
secrets
.gitlab-ci.yml
flow-typed
npm-debug.log
yarn.lock
.idea/lmsdeploy.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
yarn-error.log
yarn.lock
src/scripts/data
media/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.zip